@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Item";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Item List</li>
    </ol>
   
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Order List</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="Order_Tb" class="table table-striped table-bordered nowrap dataTable no-footer dtr-inline" style="width:100%">
                        <thead>
                            <tr>
                                <th>Vendor Name</th>
                                <th>Location Name</th>
                                <th>Customer Name</th>
                                <th>Customer Mob</th>
                                <th>Item Name</th>
                                <th>Payment Method</th>
                                <th>Order Status</th>
                                <th>Quantity</th>
                                <th>Total Amount</th>
                               
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        //List
        //loadItem()
        //function loadItem() {
        //    var table = $('#Order_Tb').DataTable();
        //    table.destroy();
        //    table = $('#Order_Tb').dataTable({
        //        "paginationType": "full_numbers",
        //        "dom": 'Bfrtip',
        //        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
        //        "searching": true,
        //        "paging": true,
        //        "sort": true,
        //        "info": true,
        //        "ajax": {
        //            "url": '@apiUrl/api/Order/AllOrderList',
        //            "type": "GET",
        //            "dataType": "json",
        //            "headers": {
        //                "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
        //            },
        //            "error": function (data) {
        //                if (data.status == 401) {
        //                    window.location.replace('/Message/TokenExpire');
        //                } else if (data.status == 403) {
        //                    window.location.replace('/Message/Unauthorize');
        //                }
        //            }
        //        },
        //        "order": [],
        //        "columns": [
        //            { "data": "vendorName", "orderable": true },
        //            { "data": "locationName", "orderable": true },
        //            { "data": "customerName", "orderable": true },
        //            { "data": "customerMob", "orderable": true },
        //            { "data": "itemName", "orderable": true },
        //            { "data": "paymentMethodName", "orderable": true },
        //            { "data": "orderStatus", "orderable": true },
        //            { "data": "quantity", "orderable": true },
        //            { "data": "totalAmount", "orderable": true },
                   
        //        ]
        //    });
        //}
        //function loadItem() {
        //    var table = $('#Order_Tb').DataTable({
        //        "destroy": true,
        //        "paginationType": "full_numbers",
        //        "dom": 'Bfrtip',
        //        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
        //        "searching": true,
        //        "paging": true,
        //        "sort": true,
        //        "info": true,
        //        "ajax": {
        //            "url": '@apiUrl/api/Order/AllOrderList',
        //            "type": "GET",
        //            "dataType": "json",
        //            "headers": {
        //                "Authorization": "Bearer " + '@Context.Session.GetString("TokenTxt")'
        //            },
        //            "error": function (xhr, errorType, exception) {
        //                if (xhr.status == 401) {
        //                    window.location.replace('/Message/TokenExpire');
        //                } else if (xhr.status == 403) {
        //                    window.location.replace('/Message/Unauthorize');
        //                }
        //            }
        //        },
        //        "order": [],
        //        "columns": [
        //            { "data": "vendorName", "orderable": true },
        //            { "data": "locationName", "orderable": true },
        //            { "data": "customerName", "orderable": true },
        //            { "data": "customerMob", "orderable": true },
        //            {
        //                "data": "orderItem",
        //                "render": function (data, type, row) {
        //                    var items = '';
        //                    if (data) {
        //                        data.forEach(function (item) {
        //                            items += item.itemName + ' x' + item.quantity + '<br>';
        //                        });
        //                    }
        //                    return items;
        //                },
        //                "orderable": true
        //            },
        //            { "data": "paymentMethodName", "orderable": true },
        //            { "data": "orderStatus", "orderable": true },
        //            {
        //                "data": "orderItem",
        //                "render": function (data, type, row) {
        //                    var quantity = 0;
        //                    var totalAmount = 0;
        //                    if (data) {
        //                        data.forEach(function (item) {
        //                            quantity += item.quantity;
        //                            totalAmount += item.quantity * item.salePrice; // assuming there's a unitPrice property in each item
        //                        });
        //                    }
        //                    return quantity;
        //                },
        //                "orderable": true
        //            },
        //            {
        //                "data": "orderItem",
        //                "render": function (data, type, row) {
        //                    var totalAmount = 0;
        //                    if (data) {
        //                        data.forEach(function (item) {
        //                            totalAmount += item.quantity * item.salePrice; // assuming there's a unitPrice property in each item
        //                        });
        //                    }
        //                    return totalAmount.toFixed(2); // assuming totalAmount is a floating-point number
        //                },
        //                "orderable": true
        //            }
        //        ]
        //    });
        //}



        function loadItem() {
            var table = $('#Order_Tb').DataTable({
                "destroy": true,
                "paginationType": "full_numbers",
                "dom": 'Bfrtip',
                "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
                "searching": true,
                "paging": true,
                "sort": true,
                "info": true,
                "ajax": {
                    "url": '@apiUrl/api/Order/AllOrderList',
                    "type": "GET",
                    "dataType": "json",
                    "headers": {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    "error": function (xhr, errorType, exception) {
                        if (xhr.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (xhr.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                },
                "order": [],
                "columns": [
                    { "data": "vendorName", "orderable": true },
                    { "data": "locationName", "orderable": true },
                    { "data": "customerName", "orderable": true },
                    { "data": "customerMob", "orderable": true },
                    {
                        "data": "orderItem",
                        "render": function (data, type, row) {
                            var items = '';
                            if (data) {
                                data.forEach(function (item) {
                                    items += item.itemName + ' x' + item.quantity + '<br>';
                                });
                            }
                            return items;
                        }
                    },
                    { "data": "paymentMethodName", "orderable": true },
                    { "data": "orderStatus", "orderable": true },
                    {
                        "data": "orderItem",
                        "render": function (data, type, row) {
                            var totalQuantity = 0;
                            var totalAmount = 0;
                            if (data) {
                                data.forEach(function (item) {
                                    totalQuantity += item.quantity;
                                    totalAmount += item.quantity * item.totalAmount;
                                });
                            }
                            return totalQuantity + ' (' + totalAmount + ')';
                        }
                    }
                ]
            });
        }

        //function loadItem() {
        //    var table = $('#Order_Tb').DataTable();
        //    table.destroy();
        //    table = $('#Order_Tb').dataTable({
        //        "paginationType": "full_numbers",
        //        "dom": 'Bfrtip',
        //        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
        //        "searching": true,
        //        "paging": true,
        //        "sort": true,
        //        "info": true,
        //        "ajax": {
        //            "url": '@apiUrl/api/Order/AllOrderList',
        //            "type": "GET",
        //            "dataType": "json",
        //            "headers": {
        //                "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
        //            },
        //            "error": function (data) {
        //                if (data.status == 401) {
        //                    window.location.replace('/Message/TokenExpire');
        //                } else if (data.status == 403) {
        //                    window.location.replace('/Message/Unauthorize');
        //                }
        //            }
        //        },
        //        "order": [],
        //        "columns": [
        //            { "data": "vendorName", "orderable": true },
        //            { "data": "locationName", "orderable": true },
        //            { "data": "customerName", "orderable": true },
        //            { "data": "customerMob", "orderable": true },
        //            {
        //                "data": "orderItem",
        //                "render": function (data, type, row) {
        //                    var items = '';
        //                    data.forEach(function (item) {
        //                        items += item.itemName + ' x' + item.quantity + '<br>';
        //                    });
        //                    return items;
        //                }
        //            },
        //            { "data": "paymentMethodName", "orderable": true },
        //            { "data": "orderStatus", "orderable": true }
        //        ]
        //    });
        //}

        //function loadItem() {
        //    var table = $('#Order_Tb').DataTable({
        //        "destroy": true,
        //        "paginationType": "full_numbers",
        //        "dom": 'Bfrtip',
        //        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
        //        "searching": true,
        //        "paging": true,
        //        "sorting": true,
        //        "info": true,
        //        "ajax": {
        //            "url": '@apiUrl/api/Order/AllOrderList',
        //            "type": "GET",
        //            "dataType": "json",
        //            "headers": {
        //                "Authorization": "Bearer " + '@Context.Session.GetString("TokenTxt")'
        //            },
        //            "error": function (xhr, errorType, exception) {
        //                if (xhr.status == 401) {
        //                    window.location.replace('/Message/TokenExpire');
        //                } else if (xhr.status == 403) {
        //                    window.location.replace('/Message/Unauthorize');
        //                }
        //            }
        //        },
        //        "order": [],
        //        "columns": [
        //            { "data": "vendorName", "orderable": true },
        //            { "data": "locationName", "orderable": true },
        //            { "data": "customerName", "orderable": true },
        //            { "data": "customerMob", "orderable": true },
        //            {
        //                "data": "orderItem",
        //                "render": function (data, type, row) {
        //                    var items = '';
        //                    if (data) {
        //                        data.forEach(function (item) {
        //                            items += item.itemName + ' x' + item.quantity + '<br>';
        //                        });
        //                    }
        //                    return items;
        //                }
        //            },
        //            { "data": "paymentMethodName", "orderable": true },
        //            { "data": "orderStatus", "orderable": true }
        //        ]
        //    });
        //}


    </script>
}

